body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

nav {
  border-bottom: 1px solid #2b2d42;
}

button {
  cursor: pointer;
  padding: 20px;
  background-color: transparent;
  border: 0;
  color: #2b2d42;
  font-weight: bold;
  font-size: 18px;
}

nav {
  position: relative;
}

nav::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 4px;
  scale: var(--width, 10%) 1;
  translate: var(--left, 0px) 0;
  transform-origin: left;
  background-color: #2b2d42;
  transition: 0.2s;
}
